@font-face {
  font-family: 'Pulp Display';
  src: url('PulpDisplay-Regular.eot');
  src:
    local('Pulp Display'),
    local('PulpDisplay-Regular'),
    url('PulpDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('PulpDisplay-Regular.woff2') format('woff2'),
    url('PulpDisplay-Regular.woff') format('woff'),
    url('PulpDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
